# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments (ignore any .venv folder anywhere)
**/.venv/

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Pytest code coverage
**/.coverage

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor temporary files
*.swp
*.swo

# Portable Python
pip-wheel-metadata/

# IDEs
.idea/
