# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor temporary files
*.swp
*.swo

# Portable Python
pip-wheel-metadata/

# IDEs
.idea/
